body{
  padding: 0px;
  margin: 0 auto;
}
.footer{
  background: #161a1d;
  color: #fff;
  a{
    color: #292f32;
    text-decoration:none;
    margin: 10px;
  }
  a:hover{
    color: #ccc;
  }
  p{
    margin: 0;
    padding-right: 40px;
    font-size: 16px;
    color: #474e52;
  }
  &_main{
    background: #161a1d;
    color: #fff;
  }
  &_sub{
    padding: 40px 0 20px;
    border-top: 1px solid #0d1012;
    background: #121517;
    text-align: center;
    color: #5c6870;
  }
  &_version {
    padding: 10px 20px 18px;
    border-top: 1px solid #070808;
    background: #090a0b;
    text-align: center;
    .beian{
      padding: 10px 0 20px;
    }
  }
}